body {
    font-family: Verdana;
    font-size: 11px;
    padding: 0;
    margin: 0;
    background: #FFF;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #DD7700;
}

.wrapper {
    width: 100%;
    height: 100%;
}

hr {
    margin: 0;
    color: #AAA;
}

.pull-right {
    padding: 7px;
}

.mce-window[aria-label="RoxyMce"] {
    position: absolute !important;
}

.list .file-size, .list .file-date {
    text-align: right;
}

.thumb .file-size, .thumb .file-name {
    text-align: center;
}

li.list {
    width: 98%;
    clear: both;
}

li.thumb {
    margin: 5px 0;
}

div.thumb {
    border: 1px solid #DDDDDD;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.51);
}

.file-preview {
    padding: 5px 0;
    height: 80px;
    text-align: center;
}

.file-preview img {
    max-height: 70px;
    max-width: 120px;
}

label.btn .fileinput-button {
    display: none;
}

section.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
}