body {
    font-family: Verdana;
    font-size: 11px;
    padding: 0;
    margin: 0;
    background: #FFF;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #DD7700;
}

.wrapper {
    width: 100%;
    height: 100%;
}

hr {
    margin: 0;
    color: #AAA;
}

.pull-right {
    padding: 7px;
}

.mce-window[aria-label="RoxyMce"] {
    position: absolute !important;
}

label.btn .fileinput-button {
    display: none;
}

section.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
}